nifi/templates/Media_Pipeline.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>4fa607b5-016b-1000-f4d6-dfb589f309eb</groupId>
    <name>Media_Pipeline</name>
    <snippet>
        <connections>
            <id>47645995-fd7e-354a-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>a6237ee0-a790-3b9e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>87eb988c-0cba-375b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>56b02c6c-6544-3e80-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>7e8b2b37-33d9-302c-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>retry</selectedRelationships>
            <source>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>a6237ee0-a790-3b9e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5ee4d9b3-b291-3671-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>fbbdc8a6-e268-3912-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>a6237ee0-a790-3b9e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>60b737ff-611d-3622-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>c52f821e-0219-353d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>a30b2c63-8d27-3983-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>777b03f0-c27e-3aa6-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>87eb988c-0cba-375b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>output stream</selectedRelationships>
            <source>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>c52f821e-0219-353d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9d9e9f61-7310-3252-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>756f0e4b-b308-379b-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>a30b2c63-8d27-3983-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>adf9f3c0-0656-3d2f-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>a30b2c63-8d27-3983-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>29e81a03-125f-3e78-0000-000000000000</groupId>
                <id>acba0c37-ef28-35f6-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c20284b3-0947-3ec3-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>6441fb50-8ee5-3fde-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>f4e447dd-f251-33c9-0000-000000000000</groupId>
                <id>a6237ee0-a790-3b9e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <outputPorts>
            <id>6441fb50-8ee5-3fde-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <position>
                <x>796.0</x>
                <y>1262.138671875</y>
            </position>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>elastic failure</name>
            <state>STOPPED</state>
            <transmitting>false</transmitting>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
            <id>756f0e4b-b308-379b-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <position>
                <x>965.8438720703125</x>
                <y>318.18719482421875</y>
            </position>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>failure</name>
            <state>STOPPED</state>
            <transmitting>false</transmitting>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
            <id>7e8b2b37-33d9-302c-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <position>
                <x>401.0</x>
                <y>1264.138671875</y>
            </position>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>elastic retry</name>
            <state>STOPPED</state>
            <transmitting>false</transmitting>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
            <id>fbbdc8a6-e268-3912-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>1252.138671875</y>
            </position>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <name>elastic success</name>
            <state>STOPPED</state>
            <transmitting>false</transmitting>
            <type>OUTPUT_PORT</type>
        </outputPorts>
        <processGroups>
            <id>29e81a03-125f-3e78-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <position>
                <x>325.1033935546875</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>125ee125-2280-3da3-0000-000000000000</id>
                    <parentGroupId>29e81a03-125f-3e78-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>29e81a03-125f-3e78-0000-000000000000</groupId>
                        <id>6c26de78-3d59-3342-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>95eb27a9-5181-3936-0000-000000000000</groupId>
                        <id>5ba8d3a8-7660-3242-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>206a44fa-fd9d-345c-0000-000000000000</id>
                    <parentGroupId>29e81a03-125f-3e78-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>29e81a03-125f-3e78-0000-000000000000</groupId>
                        <id>6c26de78-3d59-3342-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>daccda9c-a677-3e47-0000-000000000000</groupId>
                        <id>063c63cb-a02c-3ee5-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>44ee7d63-baa7-3054-0000-000000000000</id>
                    <parentGroupId>29e81a03-125f-3e78-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>29e81a03-125f-3e78-0000-000000000000</groupId>
                        <id>acba0c37-ef28-35f6-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>29e81a03-125f-3e78-0000-000000000000</groupId>
                        <id>6c26de78-3d59-3342-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b42325fd-b5b2-3fd3-0000-000000000000</id>
                    <parentGroupId>29e81a03-125f-3e78-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>29e81a03-125f-3e78-0000-000000000000</groupId>
                        <id>6c26de78-3d59-3342-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>71b879d6-4b63-319c-0000-000000000000</groupId>
                        <id>5f47b14d-38e6-3e61-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dfdb5c98-b7ec-3bba-0000-000000000000</id>
                    <parentGroupId>29e81a03-125f-3e78-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>29e81a03-125f-3e78-0000-000000000000</groupId>
                        <id>6c26de78-3d59-3342-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>356dcf99-51ca-3a08-0000-000000000000</groupId>
                        <id>234ca6ff-01cc-314b-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>acba0c37-ef28-35f6-0000-000000000000</id>
                    <parentGroupId>29e81a03-125f-3e78-0000-000000000000</parentGroupId>
                    <position>
                        <x>1674.0</x>
                        <y>604.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Static Article</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processGroups>
                    <id>356dcf99-51ca-3a08-0000-000000000000</id>
                    <parentGroupId>29e81a03-125f-3e78-0000-000000000000</parentGroupId>
                    <position>
                        <x>176.0</x>
                        <y>799.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>1ae36c17-cfa6-3ef2-0000-000000000000</id>
                            <parentGroupId>356dcf99-51ca-3a08-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>356dcf99-51ca-3a08-0000-000000000000</groupId>
<id>234ca6ff-01cc-314b-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>output stream</selectedRelationships>
                            <source>
<groupId>356dcf99-51ca-3a08-0000-000000000000</groupId>
<id>d129c215-fec3-3a33-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>495144c1-c496-3e2c-0000-000000000000</id>
                            <parentGroupId>356dcf99-51ca-3a08-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>356dcf99-51ca-3a08-0000-000000000000</groupId>
<id>d129c215-fec3-3a33-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>356dcf99-51ca-3a08-0000-000000000000</groupId>
<id>8de9098c-d326-35d4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7953427e-3a9d-3099-0000-000000000000</id>
                            <parentGroupId>356dcf99-51ca-3a08-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>356dcf99-51ca-3a08-0000-000000000000</groupId>
<id>8de9098c-d326-35d4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>356dcf99-51ca-3a08-0000-000000000000</groupId>
<id>4f3bb19d-0e3b-3de0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>234ca6ff-01cc-314b-0000-000000000000</id>
                            <parentGroupId>356dcf99-51ca-3a08-0000-000000000000</parentGroupId>
                            <position>
<x>1571.0</x>
<y>479.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Unzensuriert Article</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>4f3bb19d-0e3b-3de0-0000-000000000000</id>
                            <parentGroupId>356dcf99-51ca-3a08-0000-000000000000</parentGroupId>
                            <position>
<x>292.0</x>
<y>203.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command</key>
        <value>
            <name>Command</name>
        </value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Batch Duration</key>
        <value>
            <name>Batch Duration</name>
        </value>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>
            <name>Redirect Error Stream</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command</key>
        <value>/usr/bin/python3</value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>/src/scrapper/unzensuriert/newsfeed.py</value>
    </entry>
    <entry>
        <key>Batch Duration</key>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value> </value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Newsfeed scraper</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
                        </processors>
                        <processors>
                            <id>8de9098c-d326-35d4-0000-000000000000</id>
                            <parentGroupId>356dcf99-51ca-3a08-0000-000000000000</parentGroupId>
                            <position>
<x>900.0</x>
<y>212.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Line Split Count</key>
        <value>
            <name>Line Split Count</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
        <value>
            <name>Maximum Fragment Size</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>
            <name>Header Line Count</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
        <value>
            <name>Header Line Marker Characters</name>
        </value>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>
            <name>Remove Trailing Newlines</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Line Split Count</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitText</type>
                        </processors>
                        <processors>
                            <id>d129c215-fec3-3a33-0000-000000000000</id>
                            <parentGroupId>356dcf99-51ca-3a08-0000-000000000000</parentGroupId>
                            <position>
<x>1514.0</x>
<y>216.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command Arguments</key>
        <value>/src/scrapper/unzensuriert/article.py</value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>/usr/bin/python3</value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>0 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExecuteStreamCommand</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>output stream</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                    </contents>
                    <name>Unzensuriert Scraper</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>71b879d6-4b63-319c-0000-000000000000</id>
                    <parentGroupId>29e81a03-125f-3e78-0000-000000000000</parentGroupId>
                    <position>
                        <x>182.0</x>
                        <y>284.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>06c105bb-2cba-3398-0000-000000000000</id>
                            <parentGroupId>71b879d6-4b63-319c-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>71b879d6-4b63-319c-0000-000000000000</groupId>
<id>b26cf76b-b21e-304e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>71b879d6-4b63-319c-0000-000000000000</groupId>
<id>1da425b4-95f3-3967-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1d99ea7f-546d-34e3-0000-000000000000</id>
                            <parentGroupId>71b879d6-4b63-319c-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>71b879d6-4b63-319c-0000-000000000000</groupId>
<id>5f47b14d-38e6-3e61-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>output stream</selectedRelationships>
                            <source>
<groupId>71b879d6-4b63-319c-0000-000000000000</groupId>
<id>b26cf76b-b21e-304e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>95a68f58-0e87-31e1-0000-000000000000</id>
                            <parentGroupId>71b879d6-4b63-319c-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>71b879d6-4b63-319c-0000-000000000000</groupId>
<id>1da425b4-95f3-3967-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>71b879d6-4b63-319c-0000-000000000000</groupId>
<id>618af19f-1844-3239-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>5f47b14d-38e6-3e61-0000-000000000000</id>
                            <parentGroupId>71b879d6-4b63-319c-0000-000000000000</parentGroupId>
                            <position>
<x>1571.0</x>
<y>479.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Krone Article</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>1da425b4-95f3-3967-0000-000000000000</id>
                            <parentGroupId>71b879d6-4b63-319c-0000-000000000000</parentGroupId>
                            <position>
<x>900.0</x>
<y>212.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Line Split Count</key>
        <value>
            <name>Line Split Count</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
        <value>
            <name>Maximum Fragment Size</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>
            <name>Header Line Count</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
        <value>
            <name>Header Line Marker Characters</name>
        </value>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>
            <name>Remove Trailing Newlines</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Line Split Count</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitText</type>
                        </processors>
                        <processors>
                            <id>618af19f-1844-3239-0000-000000000000</id>
                            <parentGroupId>71b879d6-4b63-319c-0000-000000000000</parentGroupId>
                            <position>
<x>292.0</x>
<y>203.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command</key>
        <value>
            <name>Command</name>
        </value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Batch Duration</key>
        <value>
            <name>Batch Duration</name>
        </value>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>
            <name>Redirect Error Stream</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command</key>
        <value>/usr/bin/python3</value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>/src/scrapper/krone/newsfeed.py</value>
    </entry>
    <entry>
        <key>Batch Duration</key>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value> </value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Newsfeed scraper</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
                        </processors>
                        <processors>
                            <id>b26cf76b-b21e-304e-0000-000000000000</id>
                            <parentGroupId>71b879d6-4b63-319c-0000-000000000000</parentGroupId>
                            <position>
<x>1514.0</x>
<y>216.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command Arguments</key>
        <value>/src/scrapper/krone/article.py</value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>/usr/bin/python3</value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>0 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExecuteStreamCommand</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>output stream</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                    </contents>
                    <name>Krone Scraper</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>95eb27a9-5181-3936-0000-000000000000</id>
                    <parentGroupId>29e81a03-125f-3e78-0000-000000000000</parentGroupId>
                    <position>
                        <x>183.0</x>
                        <y>550.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>4420a903-e2d7-3c4f-0000-000000000000</id>
                            <parentGroupId>95eb27a9-5181-3936-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>95eb27a9-5181-3936-0000-000000000000</groupId>
<id>1da4a3a9-aaef-3f7e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>95eb27a9-5181-3936-0000-000000000000</groupId>
<id>50351017-8984-353e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6c286cbf-3d7c-3309-0000-000000000000</id>
                            <parentGroupId>95eb27a9-5181-3936-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>95eb27a9-5181-3936-0000-000000000000</groupId>
<id>50351017-8984-353e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>95eb27a9-5181-3936-0000-000000000000</groupId>
<id>14ecf72d-0e66-3aeb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>92b9eed2-d0cb-3d09-0000-000000000000</id>
                            <parentGroupId>95eb27a9-5181-3936-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>95eb27a9-5181-3936-0000-000000000000</groupId>
<id>5ba8d3a8-7660-3242-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>output stream</selectedRelationships>
                            <source>
<groupId>95eb27a9-5181-3936-0000-000000000000</groupId>
<id>1da4a3a9-aaef-3f7e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>5ba8d3a8-7660-3242-0000-000000000000</id>
                            <parentGroupId>95eb27a9-5181-3936-0000-000000000000</parentGroupId>
                            <position>
<x>1571.0</x>
<y>479.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>DiePresse Article</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>14ecf72d-0e66-3aeb-0000-000000000000</id>
                            <parentGroupId>95eb27a9-5181-3936-0000-000000000000</parentGroupId>
                            <position>
<x>292.0</x>
<y>203.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command</key>
        <value>
            <name>Command</name>
        </value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Batch Duration</key>
        <value>
            <name>Batch Duration</name>
        </value>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>
            <name>Redirect Error Stream</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command</key>
        <value>/usr/bin/python3</value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>/src/scrapper/diepresse/newsfeed.py</value>
    </entry>
    <entry>
        <key>Batch Duration</key>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value> </value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Newsfeed scraper</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
                        </processors>
                        <processors>
                            <id>1da4a3a9-aaef-3f7e-0000-000000000000</id>
                            <parentGroupId>95eb27a9-5181-3936-0000-000000000000</parentGroupId>
                            <position>
<x>1514.0</x>
<y>216.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command Arguments</key>
        <value>/src/scrapper/diepresse/article.py</value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>/usr/bin/python3</value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>0 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExecuteStreamCommand</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>output stream</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                        <processors>
                            <id>50351017-8984-353e-0000-000000000000</id>
                            <parentGroupId>95eb27a9-5181-3936-0000-000000000000</parentGroupId>
                            <position>
<x>900.0</x>
<y>212.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Line Split Count</key>
        <value>
            <name>Line Split Count</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
        <value>
            <name>Maximum Fragment Size</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>
            <name>Header Line Count</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
        <value>
            <name>Header Line Marker Characters</name>
        </value>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>
            <name>Remove Trailing Newlines</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Line Split Count</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitText</type>
                        </processors>
                    </contents>
                    <name>DiePresse Scraper</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>daccda9c-a677-3e47-0000-000000000000</id>
                    <parentGroupId>29e81a03-125f-3e78-0000-000000000000</parentGroupId>
                    <position>
                        <x>183.0</x>
                        <y>43.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>061766bb-dfe3-3507-0000-000000000000</id>
                            <parentGroupId>daccda9c-a677-3e47-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>daccda9c-a677-3e47-0000-000000000000</groupId>
<id>063c63cb-a02c-3ee5-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>output stream</selectedRelationships>
                            <source>
<groupId>daccda9c-a677-3e47-0000-000000000000</groupId>
<id>a9c5dfc0-e1e2-352b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ac5b558e-5338-3e72-0000-000000000000</id>
                            <parentGroupId>daccda9c-a677-3e47-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>daccda9c-a677-3e47-0000-000000000000</groupId>
<id>a9c5dfc0-e1e2-352b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>daccda9c-a677-3e47-0000-000000000000</groupId>
<id>64fa8166-f7e3-3ab1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f6b788ab-a385-3016-0000-000000000000</id>
                            <parentGroupId>daccda9c-a677-3e47-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>daccda9c-a677-3e47-0000-000000000000</groupId>
<id>64fa8166-f7e3-3ab1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>daccda9c-a677-3e47-0000-000000000000</groupId>
<id>acb35f7c-1ff2-3231-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>063c63cb-a02c-3ee5-0000-000000000000</id>
                            <parentGroupId>daccda9c-a677-3e47-0000-000000000000</parentGroupId>
                            <position>
<x>1571.0</x>
<y>479.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Kurier Article</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>64fa8166-f7e3-3ab1-0000-000000000000</id>
                            <parentGroupId>daccda9c-a677-3e47-0000-000000000000</parentGroupId>
                            <position>
<x>900.0</x>
<y>212.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Line Split Count</key>
        <value>
            <name>Line Split Count</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
        <value>
            <name>Maximum Fragment Size</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>
            <name>Header Line Count</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
        <value>
            <name>Header Line Marker Characters</name>
        </value>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>
            <name>Remove Trailing Newlines</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Line Split Count</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitText</type>
                        </processors>
                        <processors>
                            <id>a9c5dfc0-e1e2-352b-0000-000000000000</id>
                            <parentGroupId>daccda9c-a677-3e47-0000-000000000000</parentGroupId>
                            <position>
<x>1514.0</x>
<y>216.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command Arguments</key>
        <value>/src/scrapper/kurier/article.py</value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>/usr/bin/python3</value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>0 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExecuteStreamCommand</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>output stream</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                        <processors>
                            <id>acb35f7c-1ff2-3231-0000-000000000000</id>
                            <parentGroupId>daccda9c-a677-3e47-0000-000000000000</parentGroupId>
                            <position>
<x>292.0</x>
<y>203.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command</key>
        <value>
            <name>Command</name>
        </value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Batch Duration</key>
        <value>
            <name>Batch Duration</name>
        </value>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>
            <name>Redirect Error Stream</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command</key>
        <value>/usr/bin/python3</value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>/src/scrapper/kurier/newsfeed.py</value>
    </entry>
    <entry>
        <key>Batch Duration</key>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value> </value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Newsfeed scraper</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
                        </processors>
                    </contents>
                    <name>Kurier Scraper</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>6c26de78-3d59-3342-0000-000000000000</id>
                    <parentGroupId>29e81a03-125f-3e78-0000-000000000000</parentGroupId>
                    <position>
                        <x>1021.0</x>
                        <y>562.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>directory</key>
<value>
    <name>directory</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>directory</key>
<value>$.directory</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>$.filename</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>0 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Extract Directory Information</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <name>Static Scraper</name>
            <variables/>
        </processGroups>
        <processors>
            <id>87eb988c-0cba-375b-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <position>
                <x>344.3798220778506</x>
                <y>755.4034448647346</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>id</key>
                        <value>
                            <name>id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>index</key>
                        <value>
                            <name>index</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>id</key>
                        <value>$.id</value>
                    </entry>
                    <entry>
                        <key>index</key>
                        <value>$.index</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Setup Elasticsearch data</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>a30b2c63-8d27-3983-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <position>
                <x>341.9654541015625</x>
                <y>285.8272705078125</y>
            </position>
            <bundle>
                <artifact>nifi-hadoop-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>
                            <name>Hadoop Configuration Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>
                            <name>Kerberos Relogin Period</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                        <value>
                            <name>Additional Classpath Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                        <value>
                            <name>Block Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                        <value>
                            <name>IO Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replication</key>
                        <value>
                            <name>Replication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                        <value>
                            <name>Permissions umask</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                        <value>
                            <name>Remote Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                        <value>
                            <name>Remote Group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>
                            <name>Compression codec</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>/hdfs-site.xml, /core-site.xml</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>4 hours</value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>/${directory}/</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                    </entry>
                    <entry>
                        <key>Replication</key>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>NONE</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>0 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutHDFS</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
        <processors>
            <id>a6237ee0-a790-3b9e-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <position>
                <x>344.109217476253</x>
                <y>997.5841737964508</y>
            </position>
            <bundle>
                <artifact>nifi-elasticsearch-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>elasticsearch-http-url</key>
                        <value>
                            <name>elasticsearch-http-url</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-connect-timeout</key>
                        <value>
                            <name>elasticsearch-http-connect-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-response-timeout</key>
                        <value>
                            <name>elasticsearch-http-response-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-host</key>
                        <value>
                            <name>elasticsearch-http-proxy-host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-port</key>
                        <value>
                            <name>elasticsearch-http-proxy-port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-username</key>
                        <value>
                            <name>proxy-username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-password</key>
                        <value>
                            <name>proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-id-attr</key>
                        <value>
                            <name>put-es-id-attr</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-index</key>
                        <value>
                            <name>put-es-index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-type</key>
                        <value>
                            <name>put-es-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-batch-size</key>
                        <value>
                            <name>put-es-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-es-index-op</key>
                        <value>
                            <name>put-es-index-op</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>elasticsearch-http-url</key>
                        <value>http://elasticsearch:9200</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-connect-timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-response-timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-host</key>
                    </entry>
                    <entry>
                        <key>elasticsearch-http-proxy-port</key>
                    </entry>
                    <entry>
                        <key>proxy-username</key>
                    </entry>
                    <entry>
                        <key>proxy-password</key>
                    </entry>
                    <entry>
                        <key>put-es-id-attr</key>
                        <value>${id}</value>
                    </entry>
                    <entry>
                        <key>put-es-index</key>
                        <value>${index}</value>
                    </entry>
                    <entry>
                        <key>put-es-type</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>put-es-batch-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>put-es-index-op</key>
                        <value>index</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>5 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutElasticsearchHttp</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
        </processors>
        <processors>
            <id>c52f821e-0219-353d-0000-000000000000</id>
            <parentGroupId>f4e447dd-f251-33c9-0000-000000000000</parentGroupId>
            <position>
                <x>341.965576171875</x>
                <y>531.3958129882812</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Command Arguments</key>
                        <value>
                            <name>Command Arguments</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>
                            <name>Command Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>
                            <name>Ignore STDIN</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>
                            <name>Working Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>
                            <name>Argument Delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                        <value>
                            <name>Output Destination Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>
                            <name>Max Attribute Length</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Command Arguments</key>
                        <value>/src/transformer/main.py</value>
                    </entry>
                    <entry>
                        <key>Command Path</key>
                        <value>/usr/bin/python3</value>
                    </entry>
                    <entry>
                        <key>Ignore STDIN</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>;</value>
                    </entry>
                    <entry>
                        <key>Output Destination Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Attribute Length</key>
                        <value>256</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>0 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Extract Metadata</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>nonzero status</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>output stream</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
        </processors>
    </snippet>
    <timestamp>06/13/2019 11:26:36 UTC</timestamp>
</template>
