nifi/templates/Static_Scraper.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>eb816798-016a-1000-016f-d7be184bdd63</groupId>
    <name>Static Scraper</name>
    <snippet>
        <connections>
            <id>42fee657-70a2-33a1-0000-000000000000</id>
            <parentGroupId>4c857c07-6358-3f31-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>4c857c07-6358-3f31-0000-000000000000</groupId>
                <id>ed8300b4-1413-3f3d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <source>
                <groupId>c8481d5f-d868-3008-0000-000000000000</groupId>
                <id>5e95dbd1-9d01-3c71-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processGroups>
            <id>c8481d5f-d868-3008-0000-000000000000</id>
            <parentGroupId>4c857c07-6358-3f31-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>54bd2c3c-d0ac-3cb5-0000-000000000000</id>
                    <parentGroupId>c8481d5f-d868-3008-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c8481d5f-d868-3008-0000-000000000000</groupId>
                        <id>5e95dbd1-9d01-3c71-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>c8481d5f-d868-3008-0000-000000000000</groupId>
                        <id>1450ab7b-840d-3250-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>55bb5709-cca7-3cc4-0000-000000000000</id>
                    <parentGroupId>c8481d5f-d868-3008-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c8481d5f-d868-3008-0000-000000000000</groupId>
                        <id>1450ab7b-840d-3250-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>410f9e78-f744-3b9c-0000-000000000000</groupId>
                        <id>f09bbfe3-5f77-37ea-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9585d103-e55d-3d77-0000-000000000000</id>
                    <parentGroupId>c8481d5f-d868-3008-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c8481d5f-d868-3008-0000-000000000000</groupId>
                        <id>1450ab7b-840d-3250-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>ef20e257-f6a8-38c4-0000-000000000000</groupId>
                        <id>4a095b84-c509-3159-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d93d1ab2-96c5-357e-0000-000000000000</id>
                    <parentGroupId>c8481d5f-d868-3008-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c8481d5f-d868-3008-0000-000000000000</groupId>
                        <id>1450ab7b-840d-3250-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>738989a9-d3dc-3952-0000-000000000000</groupId>
                        <id>2ff8817f-c908-3292-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>5e95dbd1-9d01-3c71-0000-000000000000</id>
                    <parentGroupId>c8481d5f-d868-3008-0000-000000000000</parentGroupId>
                    <position>
                        <x>1674.0</x>
                        <y>604.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Static Article</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processGroups>
                    <id>410f9e78-f744-3b9c-0000-000000000000</id>
                    <parentGroupId>c8481d5f-d868-3008-0000-000000000000</parentGroupId>
                    <position>
                        <x>176.0</x>
                        <y>799.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>8d730f44-30dd-3ed3-0000-000000000000</id>
                            <parentGroupId>410f9e78-f744-3b9c-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>410f9e78-f744-3b9c-0000-000000000000</groupId>
<id>cf12d491-17da-32fc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>410f9e78-f744-3b9c-0000-000000000000</groupId>
<id>168b3755-d540-39ee-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>adc1faec-fec3-3501-0000-000000000000</id>
                            <parentGroupId>410f9e78-f744-3b9c-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>410f9e78-f744-3b9c-0000-000000000000</groupId>
<id>f09bbfe3-5f77-37ea-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>output stream</selectedRelationships>
                            <source>
<groupId>410f9e78-f744-3b9c-0000-000000000000</groupId>
<id>a8cad198-9a8c-3a36-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c4404a82-57e6-3425-0000-000000000000</id>
                            <parentGroupId>410f9e78-f744-3b9c-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>410f9e78-f744-3b9c-0000-000000000000</groupId>
<id>a8cad198-9a8c-3a36-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>410f9e78-f744-3b9c-0000-000000000000</groupId>
<id>cf12d491-17da-32fc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>f09bbfe3-5f77-37ea-0000-000000000000</id>
                            <parentGroupId>410f9e78-f744-3b9c-0000-000000000000</parentGroupId>
                            <position>
<x>1571.0</x>
<y>479.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Unzensuriert Article</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>168b3755-d540-39ee-0000-000000000000</id>
                            <parentGroupId>410f9e78-f744-3b9c-0000-000000000000</parentGroupId>
                            <position>
<x>292.0</x>
<y>203.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command</key>
        <value>
            <name>Command</name>
        </value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Batch Duration</key>
        <value>
            <name>Batch Duration</name>
        </value>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>
            <name>Redirect Error Stream</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command</key>
        <value>/usr/bin/python3</value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>/src/unzensuriert/newsfeed_scraper.py</value>
    </entry>
    <entry>
        <key>Batch Duration</key>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value> </value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Newsfeed scraper</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
                        </processors>
                        <processors>
                            <id>a8cad198-9a8c-3a36-0000-000000000000</id>
                            <parentGroupId>410f9e78-f744-3b9c-0000-000000000000</parentGroupId>
                            <position>
<x>1514.0</x>
<y>216.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command Arguments</key>
        <value>/src/unzensuriert/article_scraper.py</value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>/usr/bin/python3</value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>0 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExecuteStreamCommand</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>output stream</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                        <processors>
                            <id>cf12d491-17da-32fc-0000-000000000000</id>
                            <parentGroupId>410f9e78-f744-3b9c-0000-000000000000</parentGroupId>
                            <position>
<x>900.0</x>
<y>212.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Line Split Count</key>
        <value>
            <name>Line Split Count</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
        <value>
            <name>Maximum Fragment Size</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>
            <name>Header Line Count</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
        <value>
            <name>Header Line Marker Characters</name>
        </value>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>
            <name>Remove Trailing Newlines</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Line Split Count</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitText</type>
                        </processors>
                    </contents>
                    <name>Unzensuriert Scraper</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>738989a9-d3dc-3952-0000-000000000000</id>
                    <parentGroupId>c8481d5f-d868-3008-0000-000000000000</parentGroupId>
                    <position>
                        <x>183.0</x>
                        <y>550.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>2925d090-0fd8-31b8-0000-000000000000</id>
                            <parentGroupId>738989a9-d3dc-3952-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>738989a9-d3dc-3952-0000-000000000000</groupId>
<id>a45cd0be-e6cb-3352-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>738989a9-d3dc-3952-0000-000000000000</groupId>
<id>bf46301a-434c-3538-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>75e7c08f-a6a9-3752-0000-000000000000</id>
                            <parentGroupId>738989a9-d3dc-3952-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>738989a9-d3dc-3952-0000-000000000000</groupId>
<id>e716c9b6-b7b5-33dd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>738989a9-d3dc-3952-0000-000000000000</groupId>
<id>a45cd0be-e6cb-3352-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9b431d82-bc76-3dde-0000-000000000000</id>
                            <parentGroupId>738989a9-d3dc-3952-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>738989a9-d3dc-3952-0000-000000000000</groupId>
<id>2ff8817f-c908-3292-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>output stream</selectedRelationships>
                            <source>
<groupId>738989a9-d3dc-3952-0000-000000000000</groupId>
<id>e716c9b6-b7b5-33dd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>2ff8817f-c908-3292-0000-000000000000</id>
                            <parentGroupId>738989a9-d3dc-3952-0000-000000000000</parentGroupId>
                            <position>
<x>1571.0</x>
<y>479.0</y>
                            </position>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>DiePresse Article</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>a45cd0be-e6cb-3352-0000-000000000000</id>
                            <parentGroupId>738989a9-d3dc-3952-0000-000000000000</parentGroupId>
                            <position>
<x>900.0</x>
<y>212.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Line Split Count</key>
        <value>
            <name>Line Split Count</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
        <value>
            <name>Maximum Fragment Size</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>
            <name>Header Line Count</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
        <value>
            <name>Header Line Marker Characters</name>
        </value>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>
            <name>Remove Trailing Newlines</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Line Split Count</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitText</type>
                        </processors>
                        <processors>
                            <id>bf46301a-434c-3538-0000-000000000000</id>
                            <parentGroupId>738989a9-d3dc-3952-0000-000000000000</parentGroupId>
                            <position>
<x>292.0</x>
<y>203.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command</key>
        <value>
            <name>Command</name>
        </value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Batch Duration</key>
        <value>
            <name>Batch Duration</name>
        </value>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>
            <name>Redirect Error Stream</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command</key>
        <value>/usr/bin/python3</value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>/src/diepresse/newsfeed_scraper.py</value>
    </entry>
    <entry>
        <key>Batch Duration</key>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value> </value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Newsfeed scraper</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
                        </processors>
                        <processors>
                            <id>e716c9b6-b7b5-33dd-0000-000000000000</id>
                            <parentGroupId>738989a9-d3dc-3952-0000-000000000000</parentGroupId>
                            <position>
<x>1514.0</x>
<y>216.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command Arguments</key>
        <value>/src/diepresse/article_scraper.py</value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>/usr/bin/python3</value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>0 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExecuteStreamCommand</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>output stream</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                    </contents>
                    <name>DiePresse Scraper</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>ef20e257-f6a8-38c4-0000-000000000000</id>
                    <parentGroupId>c8481d5f-d868-3008-0000-000000000000</parentGroupId>
                    <position>
                        <x>182.0</x>
                        <y>284.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>b69b0fa2-23be-3141-0000-000000000000</id>
                            <parentGroupId>ef20e257-f6a8-38c4-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>ef20e257-f6a8-38c4-0000-000000000000</groupId>
<id>9e995952-9914-3380-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>ef20e257-f6a8-38c4-0000-000000000000</groupId>
<id>170c00e7-f60b-32d1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b9a781f4-5991-3d36-0000-000000000000</id>
                            <parentGroupId>ef20e257-f6a8-38c4-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>ef20e257-f6a8-38c4-0000-000000000000</groupId>
<id>5086c9d0-861b-3297-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>ef20e257-f6a8-38c4-0000-000000000000</groupId>
<id>9e995952-9914-3380-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ec9c63b7-f752-37bb-0000-000000000000</id>
                            <parentGroupId>ef20e257-f6a8-38c4-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>ef20e257-f6a8-38c4-0000-000000000000</groupId>
<id>4a095b84-c509-3159-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>output stream</selectedRelationships>
                            <source>
<groupId>ef20e257-f6a8-38c4-0000-000000000000</groupId>
<id>5086c9d0-861b-3297-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>4a095b84-c509-3159-0000-000000000000</id>
                            <parentGroupId>ef20e257-f6a8-38c4-0000-000000000000</parentGroupId>
                            <position>
<x>1571.0</x>
<y>479.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Krone Article</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>170c00e7-f60b-32d1-0000-000000000000</id>
                            <parentGroupId>ef20e257-f6a8-38c4-0000-000000000000</parentGroupId>
                            <position>
<x>292.0</x>
<y>203.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command</key>
        <value>
            <name>Command</name>
        </value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Batch Duration</key>
        <value>
            <name>Batch Duration</name>
        </value>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>
            <name>Redirect Error Stream</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command</key>
        <value>/usr/bin/python3</value>
    </entry>
    <entry>
        <key>Command Arguments</key>
        <value>/src/krone/newsfeed_scraper.py</value>
    </entry>
    <entry>
        <key>Batch Duration</key>
    </entry>
    <entry>
        <key>Redirect Error Stream</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value> </value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Newsfeed scraper</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
                        </processors>
                        <processors>
                            <id>5086c9d0-861b-3297-0000-000000000000</id>
                            <parentGroupId>ef20e257-f6a8-38c4-0000-000000000000</parentGroupId>
                            <position>
<x>1514.0</x>
<y>216.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Command Arguments</key>
        <value>
            <name>Command Arguments</name>
        </value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>
            <name>Command Path</name>
        </value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>
            <name>Ignore STDIN</name>
        </value>
    </entry>
    <entry>
        <key>Working Directory</key>
        <value>
            <name>Working Directory</name>
        </value>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>
            <name>Argument Delimiter</name>
        </value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
        <value>
            <name>Output Destination Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>
            <name>Max Attribute Length</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Command Arguments</key>
        <value>/src/krone/article_scraper.py</value>
    </entry>
    <entry>
        <key>Command Path</key>
        <value>/usr/bin/python3</value>
    </entry>
    <entry>
        <key>Ignore STDIN</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Working Directory</key>
    </entry>
    <entry>
        <key>Argument Delimiter</key>
        <value>;</value>
    </entry>
    <entry>
        <key>Output Destination Attribute</key>
    </entry>
    <entry>
        <key>Max Attribute Length</key>
        <value>256</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>0 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExecuteStreamCommand</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>nonzero status</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>output stream</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteStreamCommand</type>
                        </processors>
                        <processors>
                            <id>9e995952-9914-3380-0000-000000000000</id>
                            <parentGroupId>ef20e257-f6a8-38c4-0000-000000000000</parentGroupId>
                            <position>
<x>900.0</x>
<y>212.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Line Split Count</key>
        <value>
            <name>Line Split Count</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
        <value>
            <name>Maximum Fragment Size</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>
            <name>Header Line Count</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
        <value>
            <name>Header Line Marker Characters</name>
        </value>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>
            <name>Remove Trailing Newlines</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Line Split Count</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitText</type>
                        </processors>
                    </contents>
                    <name>Krone Scraper</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>1450ab7b-840d-3250-0000-000000000000</id>
                    <parentGroupId>c8481d5f-d868-3008-0000-000000000000</parentGroupId>
                    <position>
                        <x>1021.0</x>
                        <y>562.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>directory</key>
<value>
    <name>directory</name>
</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>
    <name>filename</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>directory</key>
<value>$.directory</value>
                            </entry>
                            <entry>
<key>filename</key>
<value>$.filename</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>0 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Extract Directory Information</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
            </contents>
            <name>Static Scraper</name>
            <variables/>
        </processGroups>
        <processors>
            <id>ed8300b4-1413-3f3d-0000-000000000000</id>
            <parentGroupId>4c857c07-6358-3f31-0000-000000000000</parentGroupId>
            <position>
                <x>864.0</x>
                <y>25.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>PRIMARY</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/home/nifi/data/${directory}</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>2 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
    </snippet>
    <timestamp>05/25/2019 11:57:29 UTC</timestamp>
</template>
